<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="{{ url_for('home') }}">KazJewelry</a>
        
          <div id="navbarSupportedContent">
              <ul class="navbar-item">
                  {% if current_user.role == 'admin' %}
                      <li class="nav-link">
                          <a class="navbar-admin" href="{{ url_for('admin_dashboard') }}">Admin</a><br>
                      </li>
                  {% endif %}
              </ul>
            </div>

        {% if current_user.is_authenticated %}
        <div class="icon-li">
            <a href="{{ url_for('wishlist') }}" class="icon-navbar"><i class="fa-solid fa-heart"></i></a>
            <a href="{{ url_for('cart') }}" class="icon-navbar"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="{{ url_for('logout') }}" class="icon-navbar"><i class="fa-solid fa-right-to-bracket"></i></a>
        </div>
        {% else %}
        <div>
            {% if current_user.is_anonymous %}
                <button class="auth-nav"><a href="{{ url_for('login') }}" class="auth-nav-title">Login</a></button>
                <button class="reg-nav"><a href="{{ url_for('registration') }}" class="reg-nav-title">Register</a></button>
            {% endif %}
        </div>
        {% endif %}
    </nav>

    <section class="dashboard">
        <h1 class="title-admin">Admin Dashboard</h1>

        <div class="product-list">
            <a href="{{ url_for('create_product') }}" class="create-product"><i class="fa-solid fa-plus"></i>Create product</a>

            {% for product in products %}
                <div class="product-card">
                    <div class="product-details">
                        <h4 class="product-title">{{ product.name }}</h4>
                        <p class="cart-detail-title">Price: {{ product.price }}</p>
                        <img src="{{ url_for('product_pictures', filename=product.image) }}" alt="Product Image">
                    </div>
                    <div class="product-actions">
                        <button class="btn-navbar"><a href="{{ url_for('product_detail', product_id=product.id) }}">Details</a></button>
                        <button class="btn-navbar"><a href="{{ url_for('edit_product', product_id=product.id) }}" ><i class="fas fa-edit"></i></a></button>
                        <form method="POST" action="{{ url_for('delete_product', product_id=product.id) }}">
                            <input type="submit" class="btn-navbar" value="Delete Product" style="text-align: center;">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

</body>
</html>