<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    
     <h1>Register Page</h1>
    
    <form method="POST" action="">
        <p>{{ form.hidden_tag() }}</p>
        <p>{{ form.first_name }}</p>
        <p>{{ form.last_name }}</p>
        <p>{{ form.email }}</p>
        <p>{{ form.role }}</p>
        <p>{{ form.password }}</p>
        <p>{{ form.confirm_password }}</p>
        <p>{{ form.submit }}</p>
    </form>

     <a href="{{ url_for('login') }}">Already have an account? Log In</a>

</body>
</html>